<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Employee Leave Management System</title>
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.css'%}">
   <script defer src="{% static '/assets/fontawesome/js/all.min.js'%}"></script>
   <link rel="stylesheet" href="{% static '/assets/vendors/chartjs/Chart.min.css' %}">
   <link rel="stylesheet" href="{% static '/assets/vendors/perfect-scrollbar/perfect-scrollbar.css' %}">
   <link rel="stylesheet" href="{% static '/assets/css/app.css'%}">
   <style type="text/css">
      .notif:hover {
         background-color: rgba(0, 0, 0, 0.1);
      }
   </style>
</head>

<body  >
   <div id="app">
      <div id="sidebar" class='active'>
         <div class="sidebar-wrapper active">
            <div class="sidebar-header" style="height: 50px;margin-top: -30px">
             <image src="{% static '/assets/images/ia.png'%}" width ='50' height ='20'>
               <span> Infusion </span>
            </div>

            {%if user.is_superuser%}
            <div class="sidebar-menu">
               <ul class="menu">
                  <li class="sidebar-item active ">
                     <a href="/dashboard" class='sidebar-link'>
                        <i class="fa fa-home text-success"></i>
                        <span>Dashboard</span>
                     </a>
                  </li>
            
                  {% comment %} <li class="sidebar-item  ">
                     <a href="/pendingpage" class='sidebar-link'>
                        <i class="fa fa-table text-success"></i>
                        <span>Pending Leaves</span>
                     </a>
            
                  </li>
                  <li class="sidebar-item  ">
                     <a href="/acceptpage" class='sidebar-link'>
                        <i class="fa fa-users text-success"></i>
                        <span>Approve Leaves</span>
                     </a>
                  </li>
                  <li class="sidebar-item  ">
                     <a href="/rejectpage" class='sidebar-link'>
                        <i class="fa fa-table text-success"></i>
                        <span>Not Approve Leaves </span>
                     </a>
                 
                  </li>
                  <li class="sidebar-item ">
                     <a href="/cancelpage" class='sidebar-link'>
                        <i class="fa fa-table text-success"></i>
                        <span>Cancel Leaves</span>
                     </a>
                  </li> {% endcomment %}

               </ul>
            </div>
            {%else%}
            
            {%endif%}
            <button class="sidebar-toggler btn x"><i data-feather="x"></i></button>
         </div>
      </div>
      <div id="main">
         
         <nav  id ='hide-navbar' class="navbar navbar-header navbar-expand navbar-light">
            <a class="sidebar-toggler" href="#"><span class="navbar-toggler-icon"></span></a>
            <button class="btn navbar-toggler" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
         </button>
         
         <div class="collapse navbar-collapse" id="navbarSupportedContent"  >
            <ul class="navbar-nav d-flex align-items-center navbar-light ms-auto">
                  <li class="dropdown">
                     <a href="#" data-bs-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <div class="avatar me-1">
                           <img src="{% static '/assets/images/admin.png'%}" alt="" srcset="">
                        </div>
                        {%if user.is_authenticated%}
                        <div class="d-none d-md-block d-lg-inline-block">Hi,{{user.username}}</div>
                     </a>
                     <div class="dropdown-menu dropdown-menu-end">
                        <a class="dropdown-item" href="#"><i data-feather="user"></i> Account</a>
                        <a class="dropdown-item" href="#"><i data-feather="settings"></i> Settings</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/logout"><i data-feather="log-out"></i> Logout</a>
                     </div>
                     {%else%}
                     <div class="d-none d-md-block d-lg-inline-block">Hi,Login </div>
                  </a>
                  <div class="dropdown-menu dropdown-menu-end">
                     <a class="dropdown-item" href="/register"><i data-feather="user"></i> Register</a>
                     <div class="dropdown-divider"></div>
                     <a class="dropdown-item" href="/"><i data-feather="log-out"></i> Login</a>
                  </div>
                  {%endif%}

                  </li>
               </ul>
            </div>
         </nav>

         <div class="main-content container-fluid" id="auth" 
         style="background-image: url('{% static '/assets/images/login5.jpg' %}'); 
         background-size: 150%; background-repeat: no-repeat; background-position: center;  background-attachment: relative;
         ">

         

         {% block body %}
            <div class="page-title">
               <h3  style="color: white;"><b>Dashboard<b></h3>
            </div>

         {% endblock body %}

         </div>
      </div>
   </div>

   <script src="{% static '/assets/js/feather-icons/feather.min.js'%}"></script>
   <script src="{% static '/assets/vendors/perfect-scrollbar/perfect-scrollbar.min.js'%}"></script>
   <script src="{% static '/assets/js/app.js'%}"></script>
   <script src="{% static '/assets/js/pages/dashboard.js'%}"></script>
   <script src="{% static '/assets/js/main.js'%}"></script>


</body>

</html>










