<!DOCTYPE html>
<html>

<head>

    <style>
        table {
                {
                border-collapse: collapse;
            }
        }

        th,
        td {
                {
                border: 1px solid black;
                padding: 5px;
            }
        }

        th {
                {
                background-color: #ccc;
            }
        }
    </style>



</head>

<body>
    <p>Dear {{user.username}},</p><br><br>
    <p>We regret to inform you that your leave application for the following period has been declined:</p><br><br>

    <table style="border: 1px solid black;">
        <tr>
            <th>Start date</th>
            <td>{{obj.start_date}}</td>
        </tr>
        <th>End date</th>
        <td>{{obj.end_date}}</td>
        </tr>
        <tr>
            <th>Leave Type</th>
            <td>{{obj.leave_type}}</td>
        </tr>
        <tr>
            <th>Sub leave</th>
            <td>{{obj.sub_leave}}</td>
        </tr>
        <tr>
            <th>Satus</th>
            <td>{{obj.status}}</td>
        </tr>
        <tr>
            <th>Reason </th>
            <td> nothing!</td>
        </tr>
    </table><br>
    We hope you have a great time on your vacation.<br><br>
    If you have any questions, please don't hesitate to reach out to us.<br><br>
    Regards,<br>
    The HR Team"""


</body>

</html>