{% extends 'base.html' %}
{%load static%}


{% block body %}
<html>
  
  
  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'leave.css' %}"> 
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leave Form</title>
  </head>
  <body>
  <form method="post" >
      
      {% csrf_token %}
      
      <h1> Leave Form</h1>
      
      <fieldset>
        
        
        
        <label for="name">Start Date:</label>
        <input type="date" id="startdate" name="startdate" required>
        
        <label for="mail">End Date:</label>
        <input type="date" id="enddate" name="enddate" required>
        
        <label>Leave Type</label>
        <select name="select_value" >
            {% for i in leave_type_choice %}
            <option value="{{ i.0 }}">{{ i.0 }}</option>
            {% endfor %}
        </select> <br>

        <label>Sub Leave</label>
        <select name="select_day" >
            {% for i in leave_day %}
            <option value="{{ i.0 }}">{{ i.0 }}</option>
            {% endfor %}
        </select> <br>

          
          </fieldset>
          
          
          <button type="submit">Apply for leave </button>       
        </form>
      </body>
      </html>
      
{% endblock body %}


